$secondary-color: #DA7725;
$dimmer:#2588da;

* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
} 

.app{
    display: flex;
    justify-content: center;
    .container{
        padding-left: 20px;
        padding-right: 20px;

        .link{
            text-decoration: none;
            color: inherit;
        }
        //Login
        .auth{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            width: 100vw;
            background-color: $dimmer;

            h1{
                font-size: 20px;
                color: darken(gray, 35%);
                margin-bottom: 20px;
            }
            form{
                display: flex;
                flex-direction: column;
                padding: 50px;
                background-color: white;
                width: 200px;
                gap: 20px;

                input{
                    padding: 10px;
                    border: none;
                    border-bottom: 1px solid gray;
                }

                button{
                    padding: 10px;
                    border: none;
                    background-color: darken($dimmer, 45%);
                    cursor: pointer;
                    color: white;
                }

                p{
                    font-size: 12px;
                    color: red;
                    text-align: center;
                }

                span{
                    font-size: 12px;
                    text-align: center;
                }
            }
        }
        // register
        .authe{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            width: 100vw;
            background-color: $dimmer;

            h1{
                font-size: 20px;
                color: darken(gray, 35%);
                margin-bottom: 20px;
            }

            .form{
                display: flex;
                flex-direction: column;
                padding: 50px;
                background-color: white;
                width: 350px;
                gap: 20px;

                input{
                    padding: 10px;
                    border: none;
                    border-bottom: 1px solid gray;
                }
            
                button{
                    padding: 10px;
                    border: none;
                    background-color: darken($dimmer, 45%);
                    cursor: pointer;
                    color: white;
                }

                p{
                    font-size: 12px;
                    color: red;
                    text-align: center;
                }

                span{
                    font-size: 12px;
                    text-align: center;
                }
            }
        }

        // navbar
        .navbar{
            background-color: white;
            // height: 6%;
            position: sticky;
            top: 0;
            z-index: 1;
            // background-color: #2588da;
            .container{
                // 10px top n bottom, 0px left and right
                // padding: 1px 0;
                display: flex;
                align-items: center;
                justify-content: space-between;
                .logo{
                    img{
                        width: 130px;
                    }
                }
                .links{
                    display: flex;
                    align-items: center;
                    gap: 30px;

                    h6{
                        font-size: 17px;
                        font-weight: 300;
                    }

                    span{
                        cursor: pointer;
                    }

                    .write{
                        background-color: black;
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        color: white;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-weight: 300;
                        border: 1px solid white;

                        &:hover{
                            color: $dimmer;
                            background-color: white;
                            border: 1px solid $dimmer;
                        }
                    }
                }
            }
        }
        // footer
        footer{
            position:absolute;
            left: 0;
            margin-top: 100px;
            padding: 10px;
            background-color: rgba(100, 97, 97, 0.138);
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: space-between;
            font-size: 14px;
            img{
                height: 50px;
            }
        }

        //BLOG CARD

        .blogcontainer{
            // padding-top: 20px;
            text-align:justify;
            display: flex;
            max-width: 45%;
            gap:10px;
            padding: 20px;
            // align-items: center;
            border-bottom: 1px solid rgba(211, 211, 211, 0.701);
            justify-content: space-between;

            .imagecontainer{
                position: relative;
                // give relative positioning here (1)
                &::after{
                    content: "";
                    width: 100%;
                    height: 100%;
                    background-color: $secondary-color;
                    // (2)
                    position: absolute;
                    bottom: 30px;
                    left: -5px;
                    z-index: -1;
                    filter: drop-shadow(10px 10px 10px $secondary-color);
                }
            }

            .postcontainer{
                flex-direction: column;
                width: 100%;
                height: 100px;
                align-self:center;

                .img{
                    // img here
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                    align-items: center;
                    justify-content: center;
                }
            }

            .flex{
                display: flex;
                align-items: center;
                color: $dimmer;
                gap: 10px;

                img{
                    border-radius: 50%;
                }
            }
                    
        }
        // .zoom {
        //     transition: transform .3s;
        // }
          
        // .zoom:hover {
        // -ms-transform: scale(1.1); /* IE 9 */
        // -webkit-transform: scale(1.1); /* Safari 3-8 */
        // transform: scale(1.1); 
        // }  
        
        // BLOG LIST
        .bloghome{
            padding: 10px 10px;
            width: 100%;
          
            .blogposts{
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;

            }
        }

        // home
        .maincontainer{
            padding-top:30px;
            border-top: 1px solid rgba(211, 211, 211, 0.701);
            border-bottom: 1px solid rgba(211, 211, 211, 0.701);
            display: flex;

            .homecontainer{
                display: flex;
                flex-direction: column;
                height: fit-content;
                width: fit-content;

                .popular{
                    display: flex;
                    flex-direction: column;
                    height: fit-content;
                
                    .poppost{
                        height:fit-content;
                        display: flex;
                        flex-direction: column;
                        width: 150px;
                        border-left: 1px solid rgba(57, 38, 38, 0.701);
                        padding: 5px 10px;
                        border-bottom: 1px solid rgba(60, 58, 58, 0.367);
                    }
        
                    h1{
                        text-align: center;
                        font-size: 25px;
                        color: darken($dimmer, 35%)
                    }
                    h2{
                        font-size: 18px;
                    }
                }
            }

        }

        .editor{
            display: flex;
            flex-direction: column;
            height: fit-content;

            h1{
                text-align: center;
            }
            
            .epoppost{
                // background-color: yellow;
                height:fit-content;
                display: flex;
                flex-direction: column;
                width: 180px;
                border-right: 1px solid rgba(60, 58, 58, 0.701);
                padding: 5px 10px;
                border-bottom: 1px solid rgba(60, 58, 58, 0.367);
            }

            h1{
                font-size: 25px;
                color: darken($dimmer, 35%)
            }
            h2{
                font-size: 18px;
            }

        }

        // single page
        .single{
            display: flex;
            gap: 50px;

            .content{
                flex: 5;
                display: flex;
                flex-direction: column;
                gap: 20px;

                img{
                    width: 100%;
                    height: 400px;
                    object-fit: cover;
                }

                .user{
                    display: flex;
                    line-height: 5px;
                    align-items: center;
                    gap: 10px;
                    font-size: 14px;

                    img{
                        width: 70px;
                        height: 70px;
                        border-radius: 50%;
                        object-fit: cover;
                    }

                    span{
                        font-weight: bold;
                        font-size: 18px;
                        margin-top: 10px;
                    }
                }

                .edit{
                    display: flex;
                    gap: 5px;


                    img{
                        width: 30px;
                        height: 30px;
                        cursor: pointer;
                    }
                }

                .subhead{
                    text-align: center;
                    font-size: 41px;
                    color: darken($dimmer, 35%)
                }

                p{
                    text-align: justify;
                    line-height: 30px;
                    font-size: 20px;
                }
            }
        }

        .menu{
            flex: 2;
            display: flex;
            flex-direction: column;
            gap: 25px;

            h1{
                font-size: 20px;
                color: darken($dimmer, 35%)
            }

            .post{
                display: flex;
                flex-direction: column;
                gap: 10px;

                img{
                    width: 100%;
                    height: 200px;
                    object-fit: cover;
                }

                h2{
                    color: darken($dimmer, 35%);
                }

                button{
                    width: max-content;
                    padding: 7px 10px;
                    border: none;
                    cursor: pointer;
                    border: 1px solid $dimmer;
                    border-radius: 5%;
                    color: $dimmer;

                    &:hover{
                        background-color: $secondary-color;
                        color: white;
                        border: none
                    }
                }
            }
        }

        // Create
        .create{
            padding-top: 3%;
            display: flex;
            gap: 20px;

            .content{
                flex: 5;
                display: flex;
                flex-direction: column;
                gap: 20px;

                input{
                    padding: 10px;
                    border: 1px solid lightgray;
                }

                .editorQuill{
                    height: 50vh;
                    overflow: scroll;
                    border: 1px solid lightgray;

                    .editor{
                        height: 100%;
                        border: none;
                    }
                }
            }

            .menu{
                flex: 2;
                display: flex;
                flex-direction: column;
                gap: 20px;

                .item{
                    border: 1px solid lightgray;
                    padding: 10px;
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    font-size: 14px;
                    color: darken($dimmer, 35%);

                    h1{
                        font-size: 20px;
                    }

                    .file{
                        border: 1px solid $secondary-color;
                        width:fit-content;
                        color: $secondary-color;
                        padding: 5px;
                        border-radius: 5px;
                        cursor: pointer;
                    }

                    .buttons{
                        display: flex;
                        justify-content: space-between;

                        :first-child{
                            cursor: pointer;
                            color: white;
                            background-color: $dimmer;
                            padding: 5px 5px;
                            border: none;
                            font-size: 14px;
                        }

                        :last-child{
                            cursor: pointer;
                            color: white;
                            background-color: $dimmer;
                            padding: 5px 5px;
                            border: none;
                            font-size: 14px;
                        }
                    }

                    .cat{
                        display: flex;
                        align-items: center;
                        justify-content:flex-start;
                        gap: 2px;
                        color: $secondary-color;
                    }
                }
            }
        }

        // FEATURED

        .featured{
            display: flex;
            padding: 20px;
            justify-content: center;
            align-items: center;
            border-bottom: 1px solid rgb(211, 211, 211);
            
            .featuredpost{

                .text{
                    // display: flex;
                    // align-items: center;
                    // justify-content: center;
                    text-align:justify;
                    // max-width: 200px;
                    gap: 10px;
                    padding-left: 10px;
                    padding-right: 10px;
                }

                .header{
                    text-align: center;
                    font-weight: bold;
                    font-size: 26px;
                    padding-bottom: 10px;
                }

                .feat{
                    display: flex;
                    // flex-direction: column;
                    width: 100%;
                    margin-right: 10px;

                    .title{
                        text-decoration: none;
                        text-align: center;
                        color: $dimmer;
                    }

                    .imageContainerr{
                        // width: 100%;

                        img{
                        // width: 100%;
                        height: 500px;
                        object-fit: cover;
                        }
                    }
                }
            }
        }

        // world news

        .world{
            padding-top: 25px;

            .worldheader{
                text-align: center;
                font-weight: bold;
                height: 50px;
                font-size: 26px;
            }

            
            .worldpost{
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;
                width: 100%;
                padding-bottom: 10px;
                max-height: 50%;
                border-bottom: 1px solid gray;

                .worldfeat{
                    border: 1px solid rgb(211, 211, 211);
                    // display: flex;
                    padding-top: 10px;

                    width: 19%;
                    margin-right: 10px;
                    margin-bottom: 10px;

                    .linker{
                        display: flex;
                        flex-direction: column;
                        text-decoration: none;
                        color: black;

                        .worldh{
                            text-align: center;
                        }

                        .worlddesc{
                            text-align:justify;
                            padding: 10px;
                        }
                    }

                    img{
                        // padding-top: 20px;
                        width: 100%;
                        min-height: 200px;
                        max-height: 200px;
                        object-fit: cover;
                        height: 100%;
                    }
                }
            }
        }

        // Categories

        .catContainer{
            // display: flex;

            .cat{
                // width: 100%;
                // height: 100%;
                gap: 20px;
                display: flex;
                width: 100%;


                .catPop{
                    // flex: 1
                    width: 20%;
                    font-size: 10px;

                    padding: 10px;;
                    border: 1px solid gray;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
                .try{
                    // width: 100%;
                    border-left: 1px solid gray;
                    border-right: 1px solid $secondary-color;
                    padding: 10px;

                    .catMain{
                        display: flex;
                        flex-wrap: wrap;
                        width: 100%;
                        // height: 10%;
                        justify-content: space-between;

                        .catMini{
                        padding: 10px;
                        border-top: 1px solid rgb(211, 211, 211);
                        border-right: 1px solid rgb(211, 211, 211);
                        padding-top: 10px;
                        margin-right: 10px;
                        margin-bottom: 10px;
                        width: 23%;

                            .catContent{
                                padding-bottom: 10px;
                                h4{
                                    padding: 10px;
                                    text-align: center;
                                }

                                p{
                                    padding: 10px;
                                    text-align: justify;
                                }
                            }

                            .catPost{
                                // background-color: $dimmer;
                                // width: 100%;  

                                .img{
                                    height: 200px;
                                    object-fit: cover;
                                    filter: drop-shadow(5px 7px 5px $dimmer);
                                }
                            }
                        }
                    }
                }
                img{
                    width: 100%;
                }
            }
        }

        //  Profile
        .gradient-custom-2 {
            height: 100%;
            /* fallback for old browsers */
            background: #fbc2eb;
            /* Chrome 10-25, Safari 5.1-6 */
            background: -webkit-linear-gradient(to right, rgb(255, 255, 255), rgb(10, 10, 10));
            /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            background: linear-gradient(to right, rgba(0, 119, 255, 0.58), rgb(255, 255, 255),);

                img{
                    width: 100px;
                }

            .flex-column{
                padding-left: 10px;
                // object-fit: cover;
                position: relative;
                top: 40px;
            }

            .aboutContainer{
                height: 100%;
            }

            .mainCont{
                display: flex;
                width: 50%;
                align-items: center;
                justify-content: center;
            }

            .text-center{
                align-items: center;
                display: flex;
                justify-content: space-around;
                align-items: center;
                background-color: rgb(244, 234, 234);
                height: 100px;

                .profpostContainer{
                    display: flex;
                    gap: 20px;
                }
            }
        }

    }
}