$lightgreen: #b9e7e7;

.footer{
    margin-top: 100px;
    padding: 20px;
    width: 1024px;
    background-color: $lightgreen;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    .container{
        img{
            height: 50px;
        }

    }
}