$lightgreen: #b9e7e7;

.menu{
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 25px;

    h1{
        font-size: 20px;
        color: #555
    }

    .post{
        display: flex;
        flex-direction: column;
        gap: 10px;

        img{
            width: 100%;
            height: 200px;
            object-fit: cover;
        }

        h2{
            color: #555;
        }

        button{
            width: max-content;
            padding: 7.5px 15px;
            border: none;
            cursor: pointer;
            background-color: white;
            border: 1px solid teal;
            color: teal;

            &:hover{
                border: 1px solid white;
                background-color: $lightgreen;
                color: black;
            }

        }
    }
    
}